cubic-helper.pp.ua {
    route /api/* {
        reverse_proxy main_api:8000
    }

    route /scheduler/* {
        reverse_proxy scheduler_api:8000
    }

    handle {
        reverse_proxy frontend:80
    }

    encode zstd gzip
    log {
        output file /var/log/caddy/access.log
    }
}
