services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  main_api:
    image: ghcr.io/poliukhovych/cubic-backend:latest
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      scheduler_api:
        condition: service_started
    expose:
      - "8000"
    networks:
      - app-network

  scheduler_api:
    image: ghcr.io/your-github-username/unischedule-py:latest-api
    restart: always
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    expose:
      - "8000"
    networks:
      - app-network

  scheduler_worker:
    image: ghcr.io/your-github-username/unischedule-py:latest-worker
    restart: always
    command: python -m rq worker -u redis://redis:6379/0 default
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    restart: always
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    expose:
      - "6379"
    networks:
      - app-network

  frontend:
    image: ghcr.io/VolodymyrDem/cubic-frontend:latest
    restart: always
    environment:
      - API_BASE_URL=/api
      - APP_BASE_PATH=/cubic-frontend
    depends_on:
      - main_api
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
